h1 {
    color: rgb(224, 19, 19);
    font: size 10px;
    font-weight: 300;
    /* 粗細 */
    font-family: "Times New Roman", Times, serif;
    text-decoration: overline;
    text-align: center;
}
p {
    text-indent: 2em;
}
span {
    background-color: rgba(199, 24, 199, 0.76);
}
.content {
    width: 400px;
    margin: 0 auto;
    /* auto 有多少空多少 */
    border: 1px solid;
    padding: 5px 10px;
    /* 內縮，縮框框裡面 */
    background-color: #86c91b;
}
#main-title {
    font-weight: 700;
}
